
    <footer class="footer mt-auto mb-1 py-2">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <span class="text-muted">Made with </span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#dc3545" class="bi bi-heart-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                      </svg></span><span class="text-muted"> by <a href="https://github.com/strick-j">@strick-j</a></span>
                </div>
            </div>
        </div>
    </footer>
