{{template "_head.html" .}}

<div class="container-lg m-5 mx-auto">
  <div class="row">
    <div class="col">
      {{ if .CreateForm}} {{ $value := .CreateForm}} {{ $formrole := .CreateForm.FormRole}}
      <form action="{{ $value.FormAction}}" method="{{$value.FormMethod}}" class="needs-validation" novalidate>
        <Legend>{{ $value.FormLegend}}</Legend>
        {{ if eq .Navigation "Settings"}}
        {{ if .SettingsConfigured}}
        <div class="alert alert-success" role="alert">
          Settings have already been configued. If you submit again, previous settings will be overwritten.
        </div>
        {{else}}
        <div class="alert alert-danger" role="alert">
          Settings have not been configured. Please configure using the form below.
        </div>
        {{end}}
        {{end}}
        {{range $value.FormFields}}
        <div class="mb-3">
          <label for="{{ .FieldLabel}}" class="form-label">{{ .FieldLabelText}}</label>
          <input type="{{ .FieldInputType}}" name="{{ .FieldInputName}}" class="form-control" id="{{ .FieldLabel}}" {{
            if .FieldDescBy}} aria-describedby="{{ .FieldDescBy}}" {{end}} {{ if .FieldPlaceHold}}
            placeholder="{{.FieldPlaceHold}}" {{end}} {{ if .FieldDisabled}}disabled{{end}} {{if .FieldRequired}}required{{end}}>
            {{ if .FieldDescBy}}<div id="{{.FieldDescBy}}" class="form-text">{{ .FieldHelp}}</div>{{end}}
            {{ if .FieldInFeedback}}<div class="invalid-feedback">{{ .FieldInFeedback}}</div>{{end}}
        </div>
        {{end}}
        {{ if .Groups}} {{ $value := .Groups}}
          <legend>Remove Group Members</legend>
          {{range $value.Resources}}
            <ul class="list-group mb-3">
            {{range .Members}}
            <li class="list-group-item">
              <div class="row align-items-center">
                <div class="col-auto"><input class="form-check-input p-2" type="checkbox" value="" aria-label="removemember{{.Value}}" name="delete{{.Value}}"></div>
                <div class="col"><strong>DisplayName: </strong>{{.Display}}</div>
                <div class="col"><strong>Member ID: </strong>{{.Value}}</div>
                <div class="col"><strong>Reference: </strong>{{.Ref}}</div>
              </div>
            </li>
            {{end}}
            </ul>
            </form>
          {{end}}
          <legend>Add Group Members</legend>
          <div class="mb-3">
            <textarea class="form-control" id="addGroupMembers" rows="3" aria-describedby="addGroupMemHelp">e.g. 28,45,105</textarea>
            <div id="addGroupMemHelp" class="form-text">Add users by User ID seperated by commas.</div>
          </div>
        {{end}}
        {{ if eq $formrole "adduser"}}
        <div>
          <label for="userStatus" class="form-label">Activate User</label>
          <select class="mb-3 form-select" aria-label="ActiveSelection" id="userStatus">
            <option value="1">Yes</option>
            <option value="2">No</option>
          </select>
        </div> {{else if eq $formrole "configuresettings"}}
        <div class="mb-3">
          <label for="oathtoken" class="form-label">SCIM OATH Token</label>
          <textarea class="form-control" id="oathtoken" rows="8" name="FormOathToken" placeholder="{{ .Token}}" required></textarea>
          <div class="invalid-feedback">SCIM Endpoint OATH Token is Required</div>
        </div>
        {{end}}
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="accuracyCheck" required>
          <label class="form-check-label" for="accuracyCheck">Please review the above information for accuracy.</label>
        </div>
        {{ else}}
        <div>
          <h2>No form data available.</h2>
        </div>
        {{end}}
        <button type="submit" value="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="/static/js/formvalidate.js"></script>
</main>
{{template "_footer.html" .}}

</body>

</html>